<% content_for :head do %>
	<%= javascript_include_tag "sessions.js.erb" %>
<% end %>

<div>
	<%= form_tag do %>
		<fieldset>
			<legend><strong>Please Log In</strong></legend>

			<table>
				<tr>
					<td><%= label_tag :email, 'Email:' %></td>
					<td><%= text_field_tag :email, params[:email], autofocus: true %></td>
				</tr>
				<tr>
					<td><%= label_tag :password, 'Password:' %></td>
					<td><%= password_field_tag :password, params[:password] %></td>
				</tr>
			</table>

			<div>
				<%= submit_tag 'Login' %>
			</div>
		</fieldset>
	<% end %>
</div>