<% content_for :head do %>
	<%= javascript_include_tag "sessions.js" %>
<% end %>

<div class="hero-unit">
	<%= form_tag({}, { class: 'form-signin' }) do %>
		<h1 class="form-signin-heading">Please Log In</h1>
		<%= text_field_tag :email, params[:email], class: 'input-block-level', placeholder: 'Email Address', autofocus: true %>
		<%= password_field_tag :password, params[:password], class: 'input-block-level', placeholder: 'Password' %>
		<%= submit_tag 'Login', class: 'btn btn-large btn-primary' %>
	<% end %>
</div>