<h1>Admin User Page</h1>
<%= form_for @user, :url => "/admin/user/#{@user.id}", :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend><strong>Enter User Details</strong></legend>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, size: 40, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :password, 'Password' %><br />
      <%= f.password_field :password, size: 40 %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation, 'Confirm' %><br />
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>
    <div class="field">
    	<%= image_tag @user.avatar.url(:thumb)%>
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>

<h1>User's Uploaded Music</h1>

<form id="search_form" method="get" action=<%= "/admin/user/#{@user.id}" %>>
	<%= text_field_tag :search, params[:search]%>
	<%= submit_tag "Search", name: nil %>
</form>

<%= form_tag music_path, method: :delete, data: { confirm: 'Are you sure you want to delete the selected songs?' }, id: 'delete_music_form' do %>
	<%= submit_tag "Delete Selected" %>
<% end %>

<table class="rounded">
	<tr>
		<th></th>
		<th>Title</th>
		<th>Artist</th>
		<th>Album</th>
	</tr>

	<% @songs.each do |song| %>
		<tr class="<%= cycle('shaded', '') %>">
			<td><input name="songs[]" form="delete_music_form" type="checkbox" value="<%= song.id %>"/></td>
			<td><%= song.title %></td>
			<td><%= song.artist %></td>
			<td><%= song.album %></td>
		</tr>
	<% end %>
</table>