<% if defined?(message) %>
	<input id="message" type="hidden" value="<%= message %>"/>
<% end %>

<%= hidden_field_tag :direction, params[:direction], form: "search_form" %>
<%= hidden_field_tag :sort, params[:sort], form: "search_form" %>
<%= hidden_field_tag :uploads, @songs.count %>

<table class="table_head rounded_table_head">
	<tr>
		<th class="checkbox_cell"><input id="check_all" type="checkbox"/></th>
		<th><%= sortable "title" %></th>
		<th><%= sortable "artist" %></th>
		<th><%= sortable "album" %></th>
	</tr>
</table>

<div class="table_body rounded_table_body">
	<table>
		<% @songs.each do |song| %>
			<tr class="<%= cycle('shaded_odd', 'shaded_even') %> song_row">
				<td class="checkbox_cell">
					<input id="checkbox_<%= song.id %>" name="songs[]" form="delete_music_form" type="checkbox" value="<%= song.id %>"/>
				</td>
				<td class="song_info_cell"><input type="hidden" value="<%= song.id %>"/><%= song.title %></td>
				<td class="song_info_cell"><input type="hidden" value="<%= song.id %>"/><%= song.artist %></td>
				<td class="song_info_cell"><input type="hidden" value="<%= song.id %>"/><%= song.album %></td>
			</tr>
		<% end %>
	</table>
</div>