<h1>Listing users</h1>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<table>
<% @users.each do |user| %>
  <tr>
    <td>
      <div><%= user.name %></div>
      <div><%= link_to image_tag(user.avatar.url(:thumb)), user %></div>
    </td>
    <% if session[:user_id] and session[:user_id] == user.id %>
      <td>
        <div><%= link_to 'Edit', edit_user_path(user) %></div>
        <div><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </td>
    <% end %>
  </tr>
<% end %>
</table>