<% content_for :head do %>
	<%= stylesheet_link_tag "blue.monday/jplayer.blue.monday.css" %>
	<%= javascript_include_tag "jquery.jplayer.js" %>
	<%= javascript_include_tag "jplayer.playlist.js" %>
	<%= javascript_include_tag "users.js" %>
<% end %>

<div class="full-container">
		<div class="left-container">
			<div class="row-fluid">
				<div class="span5 user-info">
					<fieldset>
						<legend><strong><%= @user.name %></strong></legend>
						<div><%= image_tag @user.avatar.url(:small)%></div>
						<strong>Uploads: <span id="upload_count"><%= @user.songs.count %></span>/<%= @user.upload_limit %></strong>
					</fieldset>
				</div>

				<div class="span7">
					<div class="row-fluid">
						<div class="span12 upload-span">
							<fieldset>
						    <legend><strong>Upload Songs</strong></legend>
								<%= form_tag music_path, multipart: true, target: 'upload_frame', id: "upload_form" do %>
									<iframe id='upload_frame' name="upload_frame" style="display: none"></iframe>
						      <span class="btn btn-info">
						      	<span>Choose Files</span>
						      	<input id="audio_file_" multiple="multiple" name="audio_file[]" type="file" />
						      </span>
						      <%= submit_tag "Upload", class: 'btn btn-success' %>
								<% end %>
						  </fieldset>
						</div>
					</div>

					<div class="row-fluid">
						<div class="span12 playlist-span">
							<fieldset>
								<legend><strong>Playlists</strong></legend>
								<input type="button" id="clear_playlist" value="Clear Playlist" class="btn"/>
							</fieldset>
						</div>
					</div>
				</div>
			</div>

			<div class="row-fluid jplayer">
				<div class="span12 jplayer">
					<%= render 'jplayer' %>
				</div>
			</div>
		</div><div class="right-container">
			<%= form_tag music_path, method: :get, id: "search_form" do %>
				<%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search", autofocus: true %>
				<%= submit_tag "Search", class: "btn btn-info", name: nil %>
			<% end %>

			<div class="btn-group">
				<input type="button" id="add_to_playlist" value="Add to Playlist" class="btn btn-info"/>

				<%= form_tag music_path, method: :delete, data: { confirm: 'Are you sure you want to delete the selected songs?' }, id: 'delete_music_form' do %>
					<%= submit_tag "Delete", class: "btn btn-info" %>
				<% end %>
			</div>

			<div id="music_list"><%= render 'music_list' %></div>
		</div>
</div>