<div class="content">
	<table>
		<tr>
			<td class="info">
				<%= image_tag @user.avatar.url(:small)%>
				<p><strong><%= @user.name %></strong></p>
			</td>

			<td>
				<!-- Using form here rather than a helper to remove utf-8 addition to the url on a search -->
				<form id="search_form" method="get" action="<%= music_path %>">
					<%= text_field_tag :search, params[:search], autofocus: true %>
					<%= submit_tag "Search", name: nil %>
				</form>

				<%= form_tag music_path, id: 'play_music_form', onSubmit: 'enableHidden' do %>
					<%= submit_tag "Play Selected" %>
				<% end %>

				<%= form_tag music_path, method: :delete, data: { confirm: 'Are you sure you want to delete the selected songs?' }, id: 'delete_music_form' do %>
					<%= submit_tag "Delete Selected" %>
				<% end %>

				<table class="rounded">
					<tr>
						<th></th>
						<th>Title</th>
						<th>Artist</th>
						<th>Album</th>
					</tr>

					<% @songs.each do |song| %>
						<tr class="<%= cycle('shaded', '') %>">
							<td>
								<input name="delete_songs[]" form="delete_music_form" type="checkbox" value="<%= song.id %>" onclick="click_hidden(this);"/>
								<input name="play_songs[]" id="hidden_<%= song.id %>" form="play_music_form" type="checkbox" value="<%= song.id %>" style="display: none"/>
							</td>
							<td><%= song.title %></td>
							<td><%= song.artist %></td>
							<td><%= song.album %></td>
						</tr>
					<% end %>

					<tr>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div class="upload">
	<%= form_tag music_path, :multipart => true do %>
		<fieldset>
	    <legend><strong>Upload Song</strong></legend>
	    <div class="field">
	      <%= file_field_tag :audio_file %>
	    </div>
	    <div class="actions">
	      <%= submit_tag "Upload Song" %>
	    </div>
	  </fieldset>
	<% end %>
</div>

<div>
	<fieldset>
		<% if request.env["HTTP_USER_AGENT"] =~ /firefox/i%>
			<% if session[:now] %>
				<object data="<%= session[:now] %>" type="audio/mp3" width="300px" height="32px"></object>
			<% else %>
				<audio controls></audio>
			<% end %>
		<% else %>
			<audio controls autoplay="autoplay">
				<source src="<%= session[:now] %>" type="audio/mp3"/>
				Your browser does not support the HTML5 audio player.
			</audio>
		<% end %>
	</fieldset>
</div>