<% content_for :head do %>
	<%= stylesheet_link_tag "blue.monday/jplayer.blue.monday.css" %>
	<%= javascript_include_tag "jquery.jplayer.js" %>
	<%= javascript_include_tag "jplayer.playlist.js" %>
<% end %>
<input type="hidden" id="butt-scratcher" value="42"/>
<div class="content">
	<table>
		<tr>
			<td class="info">
				<%= image_tag @user.avatar.url(:small)%>
				<p><strong><%= @user.name %></strong></p>
			</td>
			<td class="jplayer">
				<div class="jplayer"><%= render 'jplayer' %></div>
			</td>
			<td>
				<!-- Using form here rather than a helper to remove utf-8 addition to the url on a search -->
				<form id="search_form" method="get" action="<%= music_path %>">
					<%= text_field_tag :search, params[:search], autofocus: true %>
					<%= submit_tag "Search", name: nil %>
				</form>

				<input type="button" id="play" value="Add to Playlist"/>

				<%= form_tag music_path, method: :delete, data: { confirm: 'Are you sure you want to delete the selected songs?' }, id: 'delete_music_form' do %>
					<%= submit_tag "Delete" %>
				<% end %>

				<table class="rounded">
					<tr>
						<th></th>
						<th>Title</th>
						<th>Artist</th>
						<th>Album</th>
					</tr>

					<% @songs.each do |song| %>
						<tr class="<%= cycle('shaded', '') %>">
							<td class="checkbox">
								<input name="songs[]" form="delete_music_form" type="checkbox" value="<%= song.id %>"/>
								<input id="url<%= song.id %>" type="hidden" value="<%= song.audio_file.url %>"
							</td>
							<td id="title<%= song.id %>"><%= song.title %></td>
							<td id="artist<%= song.id %>"><%= song.artist %></td>
							<td id="album<%= song.id %>"><%= song.album %></td>
						</tr>
					<% end %>
				</table>
			</td>
		</tr>
	</table>
</div>

<div class="upload">
	<%= form_tag music_path, :multipart => true do %>
		<fieldset>
	    <legend><strong>Upload Song</strong></legend>
	    <div class="field">
	      <%= file_field_tag :audio_file %>
	    </div>
	    <div class="actions">
	      <%= submit_tag "Upload Song" %>
	    </div>
	  </fieldset>
	<% end %>
</div>