<div class="info">
	<%= image_tag @user.avatar.url(:small)%>
	<p><strong>Name:</strong> <%= @user.name %></p>
</div>

<div class="music">
	<table>
		<caption><strong>My Music</strong></caption>
		<tr>
			<th>Title</th>
			<th>Artist</th>
			<th>Album</th>
		</tr>

		<% @user.songs.each do |song| %>
			<tr>
				<td><%= song.title %></td>
				<td><%= song.artist %></td>
				<td><%= song.album %></td>
			</tr>
		<% end %>
	</table>
</div>

<div class="upload">
	<%= form_tag music_path, :multipart => true do %>
		<fieldset>
	    <legend>Upload Song</legend>
	    <div class="field">
	      <%= file_field_tag :audio_file %>
	    </div>
	    <div class="actions">
	      <%= submit_tag "Upload Song" %>
	    </div>
	  </fieldset>
	<% end %>
</div>