<!DOCTYPE html>
<html>
<head>
  <title>Music Stream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <h1 id="banner"><%= link_to 'Music Stream', root_path %></h1>

    <div id="userbar">
    	<% if session[:user_id] %>
    	  <%= link_to 'Admin', admin_path %> |
    	  <%= link_to 'Logout', logout_path, method: :delete %>
    	<% else %>
    	  <%= link_to 'Sign-up', signup_path %> |
        <%= link_to 'Login', login_path %>
    	<% end %>
    </div>
  </div>

  <% if flash.alert %>
    <p id="notice"><%= flash.alert %></p>
  <% elsif notice %>
    <p id="notice"><%= notice %></p>
  <% end %>

  <%= yield %>

</body>
</html>
