<!DOCTYPE html>
<html>
  <head>
    <title>Music Stream</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      $(function() {
        $("#notice").delay(2000).hide(2000);
      });
    </script>
    <%= yield(:head) if content_for? :head %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="header" class="rounded">
      <div id="userbar"><%= raw link_userbar session[:user_id] %></div>
      <h1 id="banner"><%= link_to 'Music Stream', root_path %></h1>
    </div>

    <div id="notice_div">
      <% if flash.alert %>
        <p id="notice"><%= flash.alert %></p>
      <% elsif notice %>
        <p id="notice"><%= notice %></p>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
